@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: RomanSD;
  src: url('./fonts/RomanSD.ttf');
}

.raleway-font{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: normal;
}

:root{
  --body-colour-light: #ede6d6;
  --body-colour-dark: #083a35;

  --text-colour-light: #083a35;
  --text-colour-dark: #c1bbad;
  --titletext-colour-dark: #fecd08;
}